body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    background: url(background.png);
}

img {
    width: 300px;
    float: right;
    margin: 0px 200px 0px 100px;
}

header {
    background: #fff164;
    color: #000;
    padding: 10px;
    width: 100%;
}

section {
    background: #fff164;
    color: #333;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 30px;
    border-radius: 10px;
    width: fit-content;
}

h1 {
    text-align: center;
    font-size: 36px;
}

h2 {
    color: #000;
    font-size: 26px;
    padding-left: 15px;
}

code {
    font-size: 12px;
}

section p {
    line-height: 16px;
    padding-left: 15px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.contact-info {
    float: right;
    margin: 0px 110px 0px 100px;
}

.english {
    float: right;
    margin: 5px 110px 5px 100px;
}

.phone-number {
    font-family: Arial, Helvetica, serif;
}

a:link {
    color: #222;
}

a:visited, #mail {
    color: #111;
}

